@import '../../../styles/variables.scss';

.card--root {
  /* galaxy image from https://unsplash.com/s/photos/galaxy */
  --bg-image: url('https://images.unsplash.com/photo-1538370965046-79c0d6907d47?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1169&q=80');

  width: 160px;
  height: 160px;
  backdrop-filter: opacity(0.8);
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.1);
  overflow: hidden;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  cursor: pointer;

  transform: scale(1);
  transition: 1s;

  &:hover {
    transform: scale(1.15);
    transition: 0.5s;
  }

  .card--image {
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    flex: 0.7 1 0%;
    position: static;
    color: #149eca;
  }

  .card--title {
    font-size: 14px;
    font-weight: 400;
    text-shadow: $text-glow;
    text-align: center;
    box-sizing: border-box;
    margin: 4px 0px;
    min-width: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 140px;
    overflow: hidden;
  }
}
