@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  color: #f6f7f9;
}

.block {
  height: 100vh;
  padding: 0 16px;
  @media (max-width: 768px) {
    padding: 0;
  }
  display: flex;
  justify-content: center;
  align-items: center;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  #cover-text {
    width: 100%;
    font-size: 2.5em;
    margin-left: 0.25em;
    text-shadow: $text-glow;
    background: $web3-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    padding-left: 2em;
    .title-and-subtitle-wrapper {
      margin-left: 10px;
    }
    .title {
      font-size: 2.3em;
      line-height: 1em;
      &:lang(en) {
        font-size: 1.7em;
      }
    }
    .subtitle {
      padding-top: 0.75em;
      font-size: 1.1em;
      text-shadow: $text-glow;
      background: $web3-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .photo {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;
      background-size: cover;
      background-position: 45% 0;
      background-repeat: no-repeat;
    }
  }

  .title-wrapper,
  .content {
    margin: 0.75em 2em;
    line-height: 1.5em;
    max-width: 600px;
  }
}

#image-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
