html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
  height: 100vh;
  color: #fff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 50% 0%;
  }
} */

#container {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  position: relative;
}

#cover {
  /* background: url("../public/mountain.jpg") no-repeat; */
  background-size: cover;
  background-attachment: fixed;
  background-position: 60% 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  margin: 0;
}

#cover-text {
  font-size: 2.5em;
  width: 100%;
  margin-left: 0.25em;
}

#cover-text div {
  width: 100%;
}

.fixed {
  position: relative;
  height: 100vh;
}

#intro {
  position: relative;
  background: url("../public/me.jpg");
  /* background-repeat: no-repeat; safari */
  background-position: 0 0;
  background-attachment: fixed;
  min-height: 100vh;
  -webkit-background-size: 38em;
  -moz-background-size: 38em;
  -o-background-size: 38em;
  background-size: 38em;
}

/* #intro-image {
  background-attachment: fixed;
  background: url("../public/me.jpg") no-repeat center/contain;
  background-size: cover;
  position: relative;
  height: 50vh;
  width: 100%;
} */

#intro-content {
  position: absolute;
  top: 10%;
  left: 10%;
  text-align: left;
}

#intro-content .content h3 {
  margin-bottom: 1em;
}

#intro-content .content p {
  line-height: 1.5em;
  text-align: left;
}

#about {
  background: url("../public/mountain.jpg");
  /* background-repeat: no-repeat; safari */
  background-position: 70% 0;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  min-height: 100vh;
}

#about-content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
}

#developer {
  background: url("../public/matrix.jpg");
  /* background-repeat: no-repeat; safari */
  background-attachment: fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fixed .content {
  position: absolute;
  top: 32%;
  left: 20%;
  background: rgba(200, 213, 240, 0.5);
  width: 30%;
  height: 20vw;
  color: #fff;
  font-size: 1.5em;
}

#petrolHead {
  background: url("../public/roadster.jpg");
  /* background-repeat: no-repeat; safari */
  background-position: center;
  background-attachment: fixed;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
