html,
body {
  padding: 0;
  margin: 0;
  // width: 100%;
  // height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 200;
  scrollbar-width: none;
}

html {
  display: flex;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.89);
}

body {
  max-width: 426px;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  position: relative;
}

#cover,
#intro,
#intro-content {
  width: 100%;
  min-height: 100vh;
}

.wrapper {
  position: relative;
  min-height: 100vh;
}

.downtime-wrapper {
  position: relative;
  min-height: 60vh;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // background-attachment: fixed;

  #cover-text {
    width: 100%;
    font-size: 2.5em;
    margin-left: 0.25em;
  }

  #scroll-indicator-wrapper {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: column;
    svg {
      animation: bounce 1.5s infinite;
    }
  }
}

@keyframes bounce {
  30% {
    transform: translateY(-275%);
  }
}

#intro {
  display: flex;
  flex-direction: column;
  align-items: center;

  #intro-image {
    width: 100%;
    min-height: 100vh;
    background: url("../public/image//me.jpg");
    background-repeat: no-repeat;
    background-position: 0 45%;
    background-size: cover;
    // background-attachment: fixed;
  }

  #intro-content {
    min-height: 50vh;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2em;
    .title {
      margin-left: 2em;
      h2 {
        font-size: 3em;
      }
      h3 {
        margin-top: -1.5em;
        font-size: 1.25em;
      }
    }
    .content {
      margin: 0.75em 2em;
      line-height: 1.5em;
    }
  }
}

// RWD
// #intro {
//   display: flex;
//   align-items: center;

//   #intro-image {
//     width: 100vw;
//     min-height: 100vh;
//     background: url("../public/image//me.jpg");
//     background-repeat: no-repeat;
//     background-position: 0 45%;
//     background-size: cover;
//     // background-attachment: fixed;
//   }

//   #intro-content {
//     min-height: 50vh;
//     text-align: left;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     margin-bottom: 2em;
//     .title {
//       margin-left: 2em;
//       h2 {
//         font-size: 3em;
//       }
//       h3 {
//         margin-top: -1.5em;
//         font-size: 1.25em;
//       }
//     }
//     .content {
//       margin: 0.75em 2em;
//       line-height: 1.5em;
//     }
//   }
// }

// @media (max-width: 1010px) {
//   #intro {
//     flex-wrap: wrap;

//     #intro-image,
//     #intro-content {
//       min-height: 50vh;
//     }

//     #intro-image {
//       width: 100vw;
//       background-size: cover;
//       background-position: 0 35%;
//     }
//   }
// }

.downtime-wrapper {
  .downtime-title {
    position: absolute;
    top: 0%;
    left: 0%;
    background: rgba(200, 213, 240, 0.5);
    width: 100%;
    height: 1.25em;
    color: #000;
    text-align: center;
    font-size: 3.5em;
  }
  .content {
    width: 100%;
    background: rgba(200, 213, 240, 0.5);
    color: #000;
    font-size: 1em;
    padding: 0.75em;
    line-height: 1.5em;
  }
}

#developer {
  background: url("../public/image/matrix.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  .downtime-title,
  .content {
    color: #fff;
  }
  .content {
    position: absolute;
    bottom: 10%;
  }
}

#petrolHead {
  background: url("../public/image/roadster.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;
  .content {
    position: absolute;
    bottom: 10%;
  }
}

#investment {
  background: url("../public/image/wallstreet.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 5%;
  }
}

#ta {
  background: url("../public/image/ac.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 5%;
  }
}

#sharing {
  background: url("../public/image/sharing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 5%;
  }
}

#movie {
  background: url("../public/image/inception.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 5%;
  }
}

#sea {
  background: url("../public/image/sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  // background-attachment: fixed;

  .content {
    position: absolute;
    bottom: 5%;
  }
}

#contact {
  // background-attachment: fixed;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  background-color: #fff;

  .title {
    position: absolute;
    top: 47.5%;
    width: 100%;
    text-align: center;
    line-height: 2em;
    z-index: 2;
    color: #000;
  }

  .content {
    a {
      display: inline-block;
      width: 100%;
      height: 100%;
    }

    #linkedIn {
      background: url("../public/icon/linkedin-logo.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      a {
        background-color: #007ec221;
      }
    }

    #github {
      background: url("../public/icon/github-logo.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      a {
        background-color: #ad5c5d36;
        // background-color: #f4cbb246;
      }
    }

    #medium {
      background: url("../public/icon/medium-logo.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      object-fit: contain;
      a {
        background-color: #caccce2c;
      }
    }

    #instagram {
      background: url("../public/icon/ig-logo.svg");
      background-size: 80%;
      background-repeat: no-repeat;
      background-position: center;
      a {
        background-color: #dd2a7b33;
      }
    }
  }

  .content {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(2, 1fr);
  }
}

// #contact {
//   .content {
//     .icon {

//     }
//   }
// }
