@import './variables.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 200;
  scrollbar-width: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

html {
  display: flex;
  justify-content: center;
  background-color: #07050f;
  background-image: $bg;
  --first-gradient-coords: -5% 25%;
  --second-gradient-coords: 120% 60%;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
  // text-decoration: none;
}

* {
  box-sizing: border-box;
}

#container {
  width: 100%;
  height: 100vh;
  color: #f6f7f9;
}

.block {
  height: 100vh;
  padding: 0 16px;
}

#cover {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  #cover-text {
    width: 100%;
    font-size: 2.5em;
    margin-left: 0.25em;
    text-shadow: $text-glow;
    background: $web3-gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

#intro-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-wrapper {
    display: flex;
    width: 100%;
    padding: 20px 32px;
    align-items: center;
    .title {
      font-size: 3em;
    }
    .subtitle {
      font-size: 1.25em;
      text-shadow: $text-glow;
      background: $web3-gradient;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .photo {
      min-width: 150px;
      min-height: 150px;
      background: url('../public/image/me.webp');
      background-position: 0% 125%;
      background-repeat: no-repeat;
      background-size: cover;
      border-radius: 50%;
      margin-right: 20px;
    }
  }

  .content {
    margin: 0.75em 2em;
    line-height: 1.5em;
    max-width: 600px;
  }
}

#timeline-wrapper {
  display: flex;
  align-items: center;
}

.further-icon {
  a {
    margin-bottom: 30px;
    transform: scale(1);
    transition: 0.5s;
  }
  a:hover {
    transform: scale(1.4);
    transition: 0.5s;
  }
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
