$text-glow: 0 0 80px rgb(192 219 255 / 75%), 0 0 32px rgb(65 120 255 / 24%);
$web3-gradient: linear-gradient(to right, #30cfd0, #c43ad6);
$bg: radial-gradient(
    circle closest-corner at var(--first-gradient-coords),
    rgba(40, 72, 122, 0.85),
    transparent
  ),
  radial-gradient(
    circle closest-corner at var(--second-gradient-coords),
    rgba(138, 41, 129, 0.7),
    transparent
  );

@mixin web3-flow-effect {
  background-clip: text;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  background-color: rgb(189, 0, 255);
  background-image: linear-gradient(
    90deg,
    rgb(0, 163, 255) 0%,
    rgb(189, 0, 255) 50%,
    rgb(0, 163, 255) 100%
  );
  animation: 3s ease-in-out 0s infinite normal none running flow;
  @keyframes flow {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -200%;
    }
  }
  // animation-duration: 3s;
  // animation-timing-function: ease-in-out;
  // animation-delay: 0s;
  // animation-iteration-count: infinite;
  // animation-direction: normal;
  // animation-fill-mode: none;
  // animation-play-state: running;
  // animation-name: flow;
}

@mixin speed-underscore-effect($bottom, $left, $color) {
  a:hover {
    color: $color;
    transition: 300ms;
  }
  a:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: $bottom;
    left: $left;
    background-color: $color;
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
  }

  a:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
